:root {
    /* font color */
    --font-normal-color: rgb(0,0,0);
    --font-navigation-color: rgb(0,0,0);
    --font-logo-color: rgb(0,0,0);
    --font-home-h-color: rgb(0,0,0);
    --font-home-p-color: rgb(0,0,0);
    --font-box-btn-color: rgb(255, 255, 255);
    /* background color */
    
    
    /* etc */
    --box-btn-color: rgb(34, 103, 130);
}

* {
    margin: 0;
    padding: 0;

    /* 텍스트 드래그 방지 CSS */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* setting */

li > a { text-decoration: none; }
/* body { overflow-x: hidden; } */


